/* @import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  /* font-family: "Quattrocento Sans", sans-serif; */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* first nav start */
.first-nav {
  background-color: #e0e0e0;
  color: #4f4f4f;
}

.first-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  float: right;
  padding: 0 4.5rem;
  align-items: center;
  margin-bottom: 0 !important;
}

.first-nav ul li a {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  color: #4f4f4f;
}

.first-nav ul li {
  border-right: 1px solid rgb(14, 13, 13);
  list-style: none;
  padding: 0.45rem 0.6rem;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
}

button:focus,
button:active,
button:hover,
button:active {
  outline: 0px !important;
  border: none;
  box-shadow: none !important;
}

/* second nav start */
.second-nav {
  background: #fff;
}

.second-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding: 2.5rem 3rem 2.5rem 8.5rem;
  align-items: center;
}

.second-nav ul li {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 15px;
}

.logo {
  margin-right: 90px;
}

.second-nav ul li a {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  color: #354c36;
}

.burger-menu {
  display: none;
}

.fa-heart,
.fa-shopping-cart {
  margin-right: 0.9rem;
  font-size: 1.3rem;
  color: #072208;
}

.search-input {
  padding: 10px;
  height: 48px;
  width: 150px;
  font-size: 0.8rem;
}

.search {
  width: 50px;
  font-size: 1rem;
  background: #056608;
  color: #fff;
}

input[type="text"] {
  height: 50px;
  font-size: 0.8rem;
  padding: 10px 50px;
  color: #fff;
}

/* main */

.container {
  max-width: 1150px !important;
}

/* side bar */

.side-bar {
  width: 240px !important;
  height: 426x;
}

.side-bar .sidebarlinks {
  background: #fff;
}

.side-bar ul {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
}

.side-bar ul li {
  list-style-type: none;
  padding: 3px 0px;
  margin: 0px 35px;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
}

.side-bar ul li a {
  text-decoration: none;
  color: #4f4f4f;
}

.sidebar-heading {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  height: 50px;
  font-size: 10px;
  line-height: 22px;
  color: #072208;
  background: #f3f3f3;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 35px;
}

.sidebar-heading h2 {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  align-self: center;
  margin: 0;
  padding: 12px;
  font-weight: bold;
}

/* carousel */

.carousel-item {
  position: relative;
  height: 427px;
  height: 100%;
  width: 100%;
}

.carousel-indicators {
  position: absolute;
  left: 550px;
  top: 310px;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  color: #056608;
  font-size: 15px;
}

.one {
  background: linear-gradient(rgba(19, 19, 19, 0.3), rgba(19, 19, 19, 0.1)),
    url("./image/bg-fruits.svg");
}

.two {
  background: linear-gradient(rgba(19, 19, 19, 0.3), rgba(19, 19, 19, 0.1)),
    url("./image/bg-legumes.svg");
}

.three {
  background: linear-gradient(rgba(19, 19, 19, 0.3), rgba(19, 19, 19, 0.1)),
    url("./image/bg-sands.svg");
}

.btn-shop {
  width: 200.67px;
  background-color: #ffffff;
  font-weight: bolder;
  border: none;
  padding: 6px;
}

.carousel-item {
  padding: 1.5rem 6rem;
}

.carousel-item > h1 {
  font-size: 40px;
  line-height: 55px;
}

.carousel-item > div > h1 {
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 5.13rem;
  color: #ffffff;
}

.carousel-item .text {
  color: #000;
  font-size: 1.2rem;
  line-height: 25px;
  font-weight: bold;
}

.carousel-indicators .active {
  background-color: #056608;
}

.first-product {
  background: #ffffff;
  border-radius: 5px;
  display: grid;
  grid-column-gap: 1.5em;
  padding: 30px 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.single-product {
}

.single-product img {
  background: linear-gradient(
    270deg,
    rgba(79, 79, 79, 0.2) 0%,
    rgba(79, 79, 79, 0) 100%
  );
  width: 100%;
  border-radius: 5px;
}

.single-product p,
.single-product .product-price {
    font-weight: bold;
    margin-bottom: 8px;
}

/*  */
/* @media (min-width: 992px) .container,
  .container-lg,
  .container-md,
  .container-sm {
  max-width: 960px;
}

@media (min-width: 768px) .container, .container-md, .container-sm {
  max-width: 720px;
}
@media (min-width: 576px) .container, .container-sm {
  max-width: 540px;
}
@media (min-width: 992px) .container {
  max-width: 960px;
}
@media (min-width: 768px) .container {
  max-width: 720px;
}
@media (min-width: 576px) .container {
  max-width: 540px;
} */
