*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

/* first nav start */
.first-nav {
    background-color: #E0E0E0;
    color: #4f4f4f;
}


.first-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: right;
    padding: 0 4.5rem; 
    align-items: center;
    margin-bottom: 0!important;
}

.first-nav ul li a{
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    color: #4f4f4f;
}

.first-nav ul li{
    border-right: 1px solid rgb(14, 13, 13) ;
    list-style: none;
    padding: 0.45rem 0.6rem ;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
}

button:focus,
button:active,
button:hover,
button:active {
  outline: 0px !important;
  border: none;
  box-shadow: none!important;
}

/* second nav start */
.second-nav {
    background: #fff;
}

.second-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding: 2.5rem 3rem 2.5rem 8.5rem;
  align-items: center;
}

 .second-nav ul li {
  list-style: none;
  padding: 0.45rem 0.6rem;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 15px;
}

.logo {
    margin-right: 90px;
}

.second-nav ul li a {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  color: #354C36;
}

.burger-menu{
    display: none;
}

.fa-heart,
.fa-shopping-cart {
    margin-right: .9rem;
    font-size: 1.3rem;
    color: #072208;
}

.search-input{
    padding: 10px;
    height: 48px;
    width: 150px;
    font-size: .8rem;
}

.search {
    width: 50px;
    font-size: 1rem;
    background: #056608;
    color: #fff;
}

input[type=text] {
    height: 50px;
    font-size: .8rem;
    padding: 10px 50px;
    color: #fff;
}

/* side bar */

main {
    padding: 2.5rem 3rem 2.5rem 8.5rem;
}

.side-bar {
    background: #fff;
    width: 240px;
    padding: 10px;
    height: 378px;
    display: flex;
    flex-direction: column;
    
}

.side-bar ul li{
    list-style-type: none;
    padding: 9px 28px;
}